.create-nft .heading-title {
  margin-bottom: 0 !important;
  align-items: flex-start;
}
.create-nft .heading-line {
  background: white !important;
  margin-bottom: 20px;
}
.creation-details:last-child .creation-line {
  display: none;
}
@media (max-width: 850px) {
  .create-nft .heading-title {
    margin-bottom: 20px !important;
  }
  .create-nft .heading-line {
    margin-left: auto;
    margin-right: auto;
  }
}
